body, html{

  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(https://i.pinimg.com/originals/b0/d2/17/b0d217836aedf6b8256e55f28a1ea652.jpg);
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
#blinky {
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.dancer {
  position:absolute;
  display: float;
}

.giphy-embed{
  width: 100px;
  height: auto;
  position: absolute;
}